body {
  margin: 0;
  padding: 0;
  font-family: 'Muli';
  font-style: normal;
  background: #F5FAFE;
}

.container {
  /* width: 80%; */
  width: 1105px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
}

/* ### navbar-top */

.navbar-top {
  background: #F5FAFE;
}

.navbar-top__help {
  font-size: 10px;
}

.navbar-top__title {
  font-weight: bold;
  margin-right: 10px;
}

.navbar-top__link {
  display: flex;
  list-style: none;
}

.navbar-top__link li {
  padding-left: 150px;
}

.navbar-top__icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  color: #333333;
}

a {
  font-size: 10px;
  text-decoration: none;
  color: #333333;
}

@media screen and (max-width: 414px) {
  .navbar-top__title {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .navbar-top__link {
    display: block;
  }
}

@media screen and (max-width: 414px) {
  .navbar-top__link li {
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .navbar-top__link li {
    padding-left: 10px;
  }
}

/* ~~~ navbar-top */


/* ### navbar */

.navbar {
  background: #FFFFFF;
  height: 120px;
}

.navbar__title {
  width: 177px;
  height: 24px;
  font-family: 'Luckiest Guy';
  font-size: 24px;
  line-height: 24px;
  color: #333333;
}

.navbar__title strong {
  color: #EC1F46;
}

.navbar__search {
  width: 350px;
  height: 40px;
  border-radius: 6px;
  background: #F5FAFE;
  line-height: 40px;
}

.navbar__search input {
  border-style: none;
  color: #333333;
  background: #F5FAFE;
  padding: 0;
  padding-left: 20px;
}

input:focus {
  background: #F5FAFE;
  color: #333333;
  outline: none;
}

input::placeholder {
  color: #333333;
  font-family: 'Muli';
  font-size: 12px;
  line-height: 40px;
  background: #F5FAFE !important;
}

.navbar__search__button {
  float: right;
  width: 65px;
  height: 40px;
  background: #EC1F46;
  border-radius: 0px 6px 6px 0px;
  text-align: center;
}

.navbar__search__button img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.navbar__cart__badge {
  position: relative;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 12px;
  background: #EC1F46;
  border-radius: 10px;
  text-align: center;
}

.navbar__cart__icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-bottom: 15px;
}

.navbar__profile {
  width: 150px;
  height: 40px;
  display: flex;
  padding-right: 0;
  justify-content: flex-end;
}

.navbar__profile__name {
  width: 49px;
  height: 18px;
  font-size: 14px;
  line-height: 40px;
  color: #333333;
  padding: 0 10px 0 10px;
}

.navbar__profile__down {
  padding: 0;
}

@media screen and (max-width: 414px) {
  .navbar {
    height: 70px;
  }
}

@media screen and (max-width: 414px) {
  .navbar__search {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .navbar__search__button {
    float: right;
    width: 35px;
  }
}

@media screen and (max-width: 414px) {
  .navbar__profile {
    width: 70px;
  }
}

@media screen and (max-width: 414px) {
  .navbar__profile__name {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navbar__search {
    width: 250px;
  }
}

@media screen and (min-width: 768px) {
  .navbar__cart {
    display: none;
  }
}

/* ~~~ navbar */


/* ### navbar-bottom */

.navbar-bottom {
  background: #0A223D;
}

.tab {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.tab__item {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.tab__item.nav-bottom__tab-item {
  text-transform: uppercase;
  color: white;
}

@media screen and (max-width: 414px) {
  .navbar-bottom {
    display: none;
  }
}

/* ~~~ navbar-bottom */


/* ### brand-crumb */

.brand-crumb {
  height: 50px;
  width: 100%;
  background: #F5FAFE;
}

.brand-crumb .container span {
  font-size: 10px;
}

/* ~~~ brand-crumb */


/* ### hotel-name */

.hotel-name {
  height: 100px;
}

.hotel-name__information__star {
  padding-left: 1px;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.hotel-name__information__title h2 {
  display: inline-block;
  font-size: 24px;
  vertical-align: middle;
  margin: 0;
}

.hotel-name__information__offer {
  display: inline-block;
  width: 70px;
  height: 20px;
  background: #EC1F46;
  border-radius: 3px;
  vertical-align: middle;
}

.hotel-name__information__offer p {
  font-size: 10px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}

.hotel-name__information__summary {
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.hotel-name__user-rattings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65px;
  height: 45px;
  background: #EC1F46;
  border-radius: 4px;
  text-align: center;
  color: #FFFFFF;
}

.hotel-name__user-rattings .rattings-title {
  vertical-align: middle;
  font-size: 8px;
  margin: 0;
}

.hotel-name__user-rattings .rate {
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  margin: 0;
}

.hotel-name__user-rattings strong {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

@media screen and (max-width: 414px) {
  .hotel-name__information__title h2 {
  font-size: 18px;
  }
}

@media screen and (max-width: 414px) {
  .hotel-name__information__summary {
  font-size: 10px;
  line-height: 10px;
  margin: 0;
}
}

/* ~~~ hotel-name */


/* ### hotel-detail */

.hotel-detail {
  justify-content: space-between;
}

.hotel-detail__slider {
  height: 450px;
  background: #C4C4C4;
  border-radius: 8px;
}

.hotel-detail__right {
  /* width: 100%; */
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-detail__booking {
  font-family: 'Nunito';
  justify-content: space-between;
  width: 350px;
  height: 212px;
  background: #0A223D;
  color: #FFFFFF;
  border-radius: 8px;
}

.hotel-detail__map {
  justify-content: space-between;
  height: 212px;
}

.map-photo {
  width: 350px;
  height: 212px;
}

.container-small {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.booking {
  font-family: 'Nunito';
  margin-top: 24px;
  justify-content: space-between;
}

.booking-detail {
  display: flex;
  justify-content: space-between;
}

.price p {
  margin: 0;
}

.person-room {
  text-align: right;
}

.person-room span {
  font-size: 12px;
  line-height: 16px;
}

.starts {
  font-size: 10px;
  line-height: 14px;
}

.price-display {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}

.room {
  font-size: 12px;
  line-height: 16px;
}

.call-center {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  margin: 15px 0 15px 0;
}

.options-button {
  width: 295px;
  height: 45px;
  background: #EC1F46;
  border-radius: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.options-button span {
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 14px;
  line-height: 45px;
  color: #FFFFFF;
}

@media screen and (max-width: 414px) {
  .hotel-detail  .container {
    display: flex;
    flex-direction: column;
  }
}


@media screen and (max-width: 414px) {
  .hotel-detail__slider {
    height: 200px;
    background: #C4C4C4;
    border-radius: 8px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 414px) {
  .slider-photo {
    width: 100%;
    height: 200px;
    background: #C4C4C4;
    border-radius: 8px;
  }
}

@media screen and (max-width: 414px) {
  .hotel-detail__right {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .hotel-detail__booking {
    width: 100%;
    height: 212px;
  }
}

@media screen and (max-width: 414px) {
  .hotel-detail__map {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .map-photo {
    width: 100%;
  }
}

/* ~~~ hotel-detail */


/* ### card-menu */

.card-menu {
  margin: 60px 0 40px 0;
}

.tab__item--focused {
  color: #EC1F46;
  border-bottom: 4px solid #EC1F46;
  padding-bottom: 15px;
}

/* ~~~ card-menu */

/* ### package-summery */

.package-summery {
  margin: 40px 0 65px 0;
}

.contents {
  margin-left: auto;
  margin-right: auto;
}

.package-card{
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.package-card .card{
  width: 538px;
  height: 200px;
  background: #FFFFFF;
  border-radius: 8px 8px 8px 0px;
}

.card .package-card-title {
  background: #0A223D;
  border-radius: 4px 4px 0px 0px;
  width: 100%;
  height: 50px;
}

.package-card-title p {
  width: 90%;
  font-weight: bold;
  font-size: 14px;
  line-height: 50px;
  color: #FFFFFF;
  margin: 0 auto;
}

.card .package-card-contents {
  width: 90%;
  margin: 0 auto;
}

.package-card_list {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}
.package-card_list.column{
  flex-flow: row wrap;
  padding-left: 0;
}

.package-card_box {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 50%;
  background: #fff;
  margin: 5px 0 5px 0;
}

.description {
  flex: 1;
  padding-left: 10px;
  font-size: 12px;
  line-height: 15px;
}

.package-card-detail {
  width: 1110px;
  height: 550px;
  background: #FFFFFF;
  border-radius: 8px;
}

.activity {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 20px 0 50px 0;
}

.activity-title {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #EC1F46;
  margin: 10px 0 15px 0;
}

.activity-box {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background: #fff;
  margin: 5px 0 5px 0;
}

/* ~~~ package-summery */


/* ### other-package */

.other-package {
  height: 1250px;
}

.trip-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.title.other-package-title {
  font-size: 36px;
  text-align: center;
  margin: 40px auto 65px auto;
}

.trip-card-box {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.trip-card_big {
  width: 730px;
  height: 500px;
  display: flex;
  background: #0A223D;
  color: #FFFFFF;
  border-radius: 8px;
  position: relative;
}

.trip-card-big__contents {
  margin-top: 50px;
}

.trip-card-big__contents p img {
  vertical-align: middle;
  padding-right: 14px;
}

#detailed-description {
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 10px;
}

.trip-card_small {
  width: 350px;
  height: 500px;
  position: relative;
}

.pin {
  position: absolute;
  top: 26px;
  width: 60px;
  height: 18px;
  background: #EC1F46;
  border-radius: 0px 4px 4px 0px;
  text-align: center;
}

.pin span {
  position: relative;
  top: -2px;
  width: 42px;
  height: 10px;
  font-weight: 600;
  font-size: 8px;
  line-height: 18px;
  vertical-align: middle;
  color: #FFFFFF;
}

.trip-image {
  width: 100%;
  height: 250px;
  background: #007ADF;
  border-radius: 8px 8px 0px 0px;
}

.trip-card-contents {
  background: #0A223D;
  color: #FFFFFF;
  border-radius: 0px 0px 8px 8px;
  padding: 25px 0 4px 0;
}

.trip-text {
  width: 80%;
}

.trip-card__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 10px;
  margin: 0;
}

.trip-card-contents p, .trip-card-big__contents p {
  font-size: 12px;
  line-height: 15px;
  padding: 10px 0 0 0;
  margin: 0;
}

.trip-card-contents p img {
  vertical-align: middle;
  padding-right: 14px;
}

.total-price {
  margin: 24px auto 30px auto;  
}


.normal-price {
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #FFFFFF;
}

.discount-price {
  display: flex;
  justify-content: space-between;
}

.discount-price span {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
}

.book-buttons {
  width: 120px;
  height: 40px;
  background: #EC1F46;
  border-radius: 4px;
  text-align: center;
  margin-left: auto;
}

.book-buttons span {
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  color: #FFFFFF;
}

/* ~~~ other-package */


/* ### guest-review */

.guest-review {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h2.title.guest-review-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  margin: 40px auto 70px auto;
}

.guest-review-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chevron {
  width: 30px;
  height: 30px;
  margin-top: 100px;
}

.chevron:hover {
  cursor: pointer;
}

.guest-review-contents {
  width: 731px;
  height: 280px;
  background: #FFFFFF;
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
}

.user-image {
  position: relative;
  top: -50px;
}

.user-name {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #EC1F46;
}

.user-date {
  font-size: 10px;
  line-height: 13px;
  color: #000000;
  margin: 0;
}

.user-review {
  width: 537px;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */
  text-align: justify;
  margin: 32px auto 0 auto;
}

.text {
  position: relative;
  top: -50px;
}
/* ~~~ guest-review */


/* ### news-letter */

.news-letter {
  width: 100%;
  height: 260px;
  display: flex;
  background: url('./images/news_bg.png') no-repeat 100% 100% / 100% 100% #C4C4C4;
  background-color: rgba(10, 34, 61, 0.8);
  background-blend-mode: multiply;
  color: #ffffff;
}

.news-box {
  width: 731px;
}

.subscribe p {
  margin: 0;
}

.subscribe p:nth-child(1) {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.subscribe p:nth-child(2) {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}

.subscribe__search {
  width: 350px;
  height: 55px;
  border-radius: 4px;
  background: #ffffff;
  line-height: 55px;
}

.subscribe__search input {
  border-style: none;
  color: #FFFFFF;
  padding: 0;
  padding-left: 20px;
}

input:focus {
  background: #FFFFFF;
  color: #333333;
  outline: none;
}

input::placeholder {
  color: #BDBDBD;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  background: #FFFFFF;
}

.subscribe__search__button {
  display:block;
  float: right;
  width: 65px;
  height: 55px;
  background: #EC1F46;
  border-radius: 0px 4px 4px 0px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 55px;
}

/* ~~~ news-letter */


/* ### other-activities */

.other-activities {
  height: 500px;
}

.other-activities-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 57px 0;
}

.activities-box {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.activities-card-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.activities-card {
  width: 255px;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.activities-card:nth-child(1) {
  background: url('./images/other-activities/other_activity_1.png');
}

.activities-card:nth-child(2) {
  background: url('./images/other-activities/other_activity_2.png');
}

.activities-card:nth-child(3) {
  background: url('./images/other-activities/other_activity_3.png');
}

.activities-card:nth-child(4) {
  background: url('./images/other-activities/other_activity_4.png');
}

.activities-card-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  width: 145px;
  height: 40px;
  margin-left: 26px;
}

.book-buttons.small {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  margin: 18px 0 24px 26px;
}

.book-buttons.small span {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 30px;
}


/* ~~~ other-activities */


/* ### Footer */

Footer {
  height: 900px;
  background: #0A223D;
  color: #FFFFFF;
}

.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-top, .footer-contact, .footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-top {
  margin-top: 108px;
}

.footer-title {
  width: 166px;
  height: 192px;
  font-family: 'Luckiest Guy';
  font-size: 64px;
  line-height: 64px;
  color: #FFFFFF;
}

.footer-title span {
  color: #EC1F46;
}

.footer-top__list ul {
  padding: 0;
}

.footer-top__list ul li, .detail-list {
  list-style: none;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  color: #BDBDBD;
}

.footer-subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
}

.social-icon-title {
  margin-right: 41px;
  line-height: 24px;
}

.social-icon img{
  width: 24px;
  height: 24px;
  vertical-align: bottom;
  margin-right: 10px;
}

.footer-contact {
  margin-top: 94px;
}

.contact-detail {
  width: 493px;
  height: 245px;
}

.send-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
}

.detail-list {
  margin-top:  22px;
  margin-bottom: 22px;
}

.detail-list img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.form {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.find-bar {
  width: 100%;
  justify-content: center;
}


.full-name, .phone-number {
  width: 254px;
  height: 50px;
  background: #FFFFFF;
  padding: 0;
  border-radius: 4px;
  border-style: none;
}

.full-name {
  margin-right: 13px;
}

.phone-number {
  margin-left: 13px;
}

.message {
  width: 539px;
  height: 123px;
  background: #FFFFFF;
  padding: 0;
  border-radius: 4px;
  border-style: none;
  margin-top: 15px;
}

.full-name::placeholder, .phone-number::placeholder .message::placeholder {
  font-size: 12px;
  line-height: 15px;
  color: #BDBDBD;
}

.find-button {
  width: 160px;
  height: 50px;
  background: #EC1F46;
  border-radius: 4px;
  text-align: center;
}

.find-button span {
  vertical-align: middle;
  line-height: 50px;
}

.find-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.required-fields {
  line-height: 50px;
  font-weight: bold;
  font-size: 12px;
  color: #E0E0E0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 102px;
}

.bottom-etc {
  font-size: 12px;
  line-height: 22px;
  color: #FFFFFF;
  margin-left: 400px;
}

.bottom-etc>span {
  margin: 0 10px 0 10px;
}

.flag {
  width: 136px;
  height: 22px;
  margin-left: 240px;
  vertical-align: middle;
}
/* ~~~ Footer */
