body {
  margin: 0;
  padding: 0;
  font-family: 'Muli';
  font-style: normal;
  background: #F5FAFE;
  height: 5370px;
}

.container {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

/* ### navbar-top */

.navbar-top {
  background: #F5FAFE;
}

.navbar-top__help {
  vertical-align: middle;
  font-size: 10px;
}

.navbar-top__title {
  font-weight: bold;
  margin-right: 10px;
}

.navbar-top__link {
  display: flex;
  list-style: none;
  padding-right: 0;
}

.navbar-top__link li {
  padding-left: 150px;
  padding-right: 0;
}

.navbar-top__icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  color: #333333;
}

a {
  font-size: 10px;
  font-weight: 13px;
  text-decoration: none;
  color: #333333;
}

/* ~~~ navbar-top */


/* ### navbar */

.navbar {
  background: #FFFFFF;
  height: 120px;
}

.navbar__title {
  width: 177px;
  height: 24px;
  font-family: 'Luckiest Guy';
  font-size: 24px;
  line-height: 24px;
  color: #333333;
}

.navbar__title strong {
  color: #EC1F46;
}

.navbar__search {
  width: 350px;
  height: 40px;
  border-radius: 6px;
  background: #F5FAFE;
  line-height: 40px;
}

.navbar__search input {
  border-style: none;
  color: #333333;
  padding: 0;
}

input:focus {
  background: #F5FAFE;
  color: #333333;
  outline: none;
}

input::placeholder {
  color: #333333;
  font-family: 'Muli';
  font-size: 12px;
  line-height: 40px;
  background: #F5FAFE;
}

.navbar__search__button {
  display:block;
  float: right;
  width: 65px;
  height: 40px;
  background: #EC1F46;
  border-radius: 0px 6px 6px 0px;
  text-align: center;
}

.navbar__search__button img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.navbar__cart__badge {
  position: relative;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 12px;
  background: #EC1F46;
  border-radius: 10px;
  text-align: center;
}

.navbar__cart__icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-bottom: 15px;
}

.navbar__profile {
  width: 150px;
  height: 40px;
  display: flex;
  padding-right: 0;
  justify-content: flex-end;
}

.navbar__profile__image {
  vertical-align: middle;
}

.navbar__profile__name {
  width: 49px;
  height: 18px;
  font-size: 14px;
  line-height: 40px;
  color: #333333;
  padding: 0 10px 0 10px;
}

.navbar__profile__down {
  padding: 0;
}

/* ~~~ navbar */


/* ### navbar-bottom */

.navbar-bottom {
  background: #0A223D;
  vertical-align: middle;
}

.tab {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.tab__item {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.tab__item.nav-bottom__tab-item {
  text-transform: uppercase;
  color: white;
}

/* ~~~ navbar-bottom */


/* ### brand-crumb */

.brand-crumb {
  height: 50px;
  width: 100%;
  background: #F5FAFE;
}

.brand-crumb .container span {
  font-size: 10px;
}

/* ~~~ brand-crumb */


/* ### hotel-name */

.hotel-name {
  height: 100px;
}

.hotel-name__information__star {
  padding-left: 1px;
}

.title {
  font-family: 'Muli';
  font-weight: bold;
  text-transform: uppercase;
}

.hotel-name__information__title h2 {
  display: inline-block;
  font-size: 24px;
  vertical-align: middle;
  margin: 0;
}

.hotel-name__information__offer {
  display: inline-block;
  width: 70px;
  height: 20px;
  background: #EC1F46;
  border-radius: 3px;
  vertical-align: middle;
}

.hotel-name__information__offer p {
  font-size: 10px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}

.hotel-name__information__summary {
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.hotel-name__user-rattings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65px;
  height: 45px;
  background: #EC1F46;
  border-radius: 4px;
  text-align: center;
  color: #FFFFFF;
}

.hotel-name__user-rattings .title {
  vertical-align: middle;
  font-size: 8px;
  line-height: 10px;
  margin: 0;
}

.hotel-name__user-rattings .rate {
  vertical-align: middle;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  margin: 0;
}

.hotel-name__user-rattings strong {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}
/* ~~~ hotel-name */


/* ### hotel-detail */

.hotel-detail {
  display: flex;
  justify-content: space-between;
}

.hotel-detail {
  display: flex;
}

.hotel-detail__slider {
  height: 450px;
  background: #C4C4C4;
  border-radius: 8px;
}

.hotel-detail2 {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-detail__booking {
  font-family: 'Nunito';
  justify-content: space-between;
  width: 400px;
  height: 212px;
  background: #0A223D;
  color: #FFFFFF;
  border-radius: 8px;
}

.hotel-detail__map {
  justify-content: space-between;
  height: 212px;
}

.hotel-detail__map img {
  width: 400px;
  height: 212px;
}

.container-small {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.booking-area {
  font-family: 'Nunito';
  margin-top: 24px;
  justify-content: space-between;
}

.area {
  display: flex;
  justify-content: space-between;
}

.area1 p {
  margin: 0;
}

.starts {
  font-size: 10px;
  line-height: 14px;
}

.price {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}

.room {
  font-size: 12px;
  line-height: 16px;
}

.quick-price {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  margin: 15px 0 15px 0;
}

.options-button {
  width: 295px;
  height: 45px;
  background: #EC1F46;
  border-radius: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.options-button span {
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 14px;
  line-height: 45px;
  color: #FFFFFF;
}

/* ~~~ hotel-detail */


/* ### card-menu */

.card-menu {
  vertical-align: middle;
  margin: 60px 0 40px 0;
}

.tab__item--focused {
  color: #EC1F46;
  border-bottom: 4px solid #EC1F46;
  padding-bottom: 15px;
}

/* ~~~ card-menu */

/* ### package-summery */

.package-summery {
  font-family: 'Muli';
}

.contents {
  margin-left: auto;
  margin-right: auto;
}

.package-card{
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.package-card .card{
  width: 538px;
  height: 200px;
  background: #FFFFFF;
  border-radius: 8px 8px 8px 0px;
}

.card .package-card-title {
  background: #0A223D;
  border-radius: 4px 4px 0px 0px;
  width: 100%;
  height: 50px;
}

.package-card-title p {
  width: 90%;
  font-weight: bold;
  font-size: 14px;
  line-height: 50px;
  color: #FFFFFF;
  margin: 0 auto;
}

.card .package-card-contents {
  width: 90%;
  margin: 0 auto;
}

.package-card_list {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}
.package-card_list.column{
  flex-flow: row wrap;
  padding-left: 0;
}

.package-card_box {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 50%;
  background: #fff;
  margin: 5px 0 5px 0;
}

.description {
  flex: 1;
  padding-left: 10px;
  font-size: 12px;
  line-height: 15px;
}

.package-card-detail {
  width: 1110px;
  height: 550px;
  background: #FFFFFF;
  border-radius: 8px;
}

.activity {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 20px 0 50px 0;
}

.activity-title {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #EC1F46;
  margin: 10px 0 15px 0;
}

.activity-box {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background: #fff;
  margin: 5px 0 5px 0;
}

/* ~~~ package-summery */


/* ### other-package */

.other-package {
  height: 1250px;
  border: 1px solid red;
}

.container {
  border: 1px dashed darkblue;
}

.trip-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.title.other-package-title {
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  margin: 100px auto 60px auto;
  border: 1px solid pink;
}

.trip-card-box, .trip-card-box2 {
  border: 1px dashed orangered;
  display: flex;
  justify-content: space-between;
}

.trip-card_big {
  width: 730px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  background: #0A223D;
  color: #FFFFFF;
}

.trip-card-big__contents {
  margin-top: 50px;
  /* vertical-align: middle; */
}

.info-text {
  font-size: 14px;
  line-height: 160.6%;
  /* or 22px */
}

.trip-card_small {
  width: 350px;
  height: 500px;
  border: 1px solid greenyellow;
}

.pin {
  position: relative;
  top: 26px;
  width: 60px;
  height: 18px;
  background: #EC1F46;
  border-radius: 0px 4px 4px 0px;
  text-align: center;
}

.pin span {
  vertical-align: middle;
  width: 42px;
  height: 10px;
  font-weight: 600;
  font-size: 8px;
  line-height: 18px;
  color: #FFFFFF;
}

.trip-image {
  width: 100%;
  height: 250px;
  background: #007ADF;
  border-radius: 8px 8px 0px 0px;
}

.trip-card-contents {
  height: 250px;
  background: #0A223D;
  color: #FFFFFF;
  border-radius: 0px 0px 8px 8px;
}

.trip-text {
  width: 80%;
}

dt {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  padding: 30px 0 10px 0;
}

.trip-card-contents p, .trip-card-big__contents p {
  font-size: 12px;
  line-height: 15px;
  padding: 10px 0 0 0;
  margin: 0;
}

.trip-card-contents p img {
  vertical-align: middle;
  padding-right: 14px;
}

.total-price {
  margin: 24px auto 30px auto;  
}


.normal-price {
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #FFFFFF;
}

.discount-price {
  display: flex;
  justify-content: space-between;
}

.discount-price span {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.book-buttons {
  width: 120px;
  height: 40px;
  background: #EC1F46;
  border-radius: 4px;
  text-align: center;
  margin-left: auto;
}

.book-buttons span {
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  color: #FFFFFF;
}